doctype html
html
	head
		title test my pug
		link(href="exam1.css" rel="stylesheet")
	body
		header.head 
			.headNav
				ul.navul
					li 
						a li1
					li
						a li2
					li
						a li3
					li 
						a li4
					li
						a li5
					li
						a li6
					li
						input.inputbox(type="text",placeholder="Please input here")
					li.dropdown  more
						ul.down
							li
								a weerr
							li
								a dghfg
							li
								a dgshd
		.Maincontent 
			.left 
				.box1
				.box1
				.box1
				.box1
				.box1
				.box1
				.box1
				.box1
			.right 
				.box2
				.box2
				.box2
				.box2
				.box2
				.box2
				.box2
				.box2

		footer.foot 
			.footul
				ul.footul
					li
						a 11
					li
						a 22
					li
						a 33
					li
						a 44
					li
						a 55
					li
						a 66



